.footer {
  /* color: aliceblue; */
  align-items: center;
  justify-content: center;
  margin-bottom: 44px;
  
  & .questions {
    width: 319px;
    gap: 36px;
    /* border: 1px solid red; */
    & .question {
        gap: 8px;
      & img {
        width: 20px;
        height: 20px;
      }
      & .texto {
        & h3 {
            color: var(--content-brand);
        }
        & p{
            color: var(--content-secondary);
        }
      }
    }
  }
}
