.main {
  padding-block: 44px;
  gap: 40px;
  & .title-form {
    gap: 2px;
    width: 319px;

    & :nth-child(1) {
      color: var(--content-primary);
      /* border: 1px solid red; */
    }
    & :nth-child(2) {
      color: var(--content-tertiary);
      /* border: 1px solid red; */
    }
  }

  & form {
    width: 319px;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
    & div {
      justify-content: space-between;
      & .numero {
        width: 86px;
        height: 88px;
        /* border: 1px solid red; */
        align-items: center;

        & input {
          width: 86px;
          height: 56px;
          border-radius: 8px;
          text-align: center;
          background: var(--background-tertiary);
          color: aliceblue;
          outline: none;
          border: none;
        }
      }
    }
  }

  & .button{
     & button{
        width: 319px;
        padding: 16px;
        border-radius: 8px;
        background: var(--background-tertiary);
        color: var(--content-primary);
        border: none;
     }
  }
}
